/* Navbar */
.navbar {
    position: relative;
    top: 4rem;
    height: 3rem;
    width: 100%;
    background-color: #2e7eff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    display: flex;
    gap: 1rem;
}

.navbar-links a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.navbar-links a:hover {
    background-color: rgb(47, 96, 255);
}

.navbar-links a:active {
    background-color: #5e5a5a;
}

.dropdown-content {
            display: none;
            position: absolute;
            background: #fff;
            min-width: 180px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            z-index: 1;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content a {
            color: #333;
            padding: 10px 16px;
            text-decoration: none;
            display: block;
            font-size: 14px;
            font-family: 'Times New Roman', Times, serif;
        }

        .dropdown-content a:hover {
            background: #f0f0f0;
        }

        .dropdown.open .dropdown-content {
            display: block;
            animation: slideDown 0.3s;
        }

        @keyframes slideDown {
            from {
                opacity: 0;
                transform: translateY(-10px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }